.light_theam{
  --main-heading:#000;
  --sub-heading:#ed9508;
  --nav-option:rgba(0,0,0, 0.9);
  --bg-color:#e5e5eb;
  --hover-bg:#d02727;
  --text-color:#000;
  --card-color:rgba(243, 239, 239, 0.9);
}
.dark-theam{
  --main-heading:#ffff;
  --sub-heading:#ed9508;
  --nav-option:#ffff;
  --bg-color:#000;
  --text-color:#fff;
  --card-color:rgba(41, 39, 39, 0.8);
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
/* .main-image{
  width: 100%;
  height:150px;
} */

